{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <form action="{% url 'send' %}" method="post" class="form-horizontal">{% csrf_token %}
        <dl class="dl-horizontal">
          <dt>{% trans "From" %}:</dt>
          <dd>{{ content.mail_message.project.from_name }}
              &lt;<a target="_blank" href="mailto:{{ content.mail_message.project.from_account.username }}">{{ content.mail_message.project.from_account.username }}</a>&gt;
          </dd>
          <dt>{% trans "To" %}:</dt>
          <dd>
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for email in content.to_emails %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ email.first_name }}</td>
                            <td>{{ email.last_name }}</td>
                            <td><a target="_blank" href="mailto:{{ email.email }}">{{ email.email }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </dd>
          <dt>{% trans "Subject" %}:</dt>
          <dd><pre>{{ content.mail_message.subject }}</pre></dd>
          <dt>{% trans "Text" %}:</dt>
          <dd><pre>{{ content.mail_message.text }}</pre></dd>
        </dl>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">{% blocktrans %}Send{% endblocktrans %}</button>
            </div>
        </div>
        <input type="hidden" name="message" value="{{ content.mail_message.id }}"/>
    </form>
{% endblock %}