{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <form action="{% url 'client_mass_add' %}" method="post" class="form-horizontal">{% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="id_emails">{% blocktrans %}Emails list{% endblocktrans %}</label>
            <div class="controls">
                <textarea rows="20" cols="60" class="input-xlarge" name="emails_list" id="id_emails"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">{% blocktrans %}Create{% endblocktrans %}</button>
            </div>
        </div>
    </form>
{% endblock %}