{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% blocktrans %}After adding a new group refresh the page.{% endblocktrans %}
    </div>
    <dl class="dl-horizontal">
        <dt>{% trans "Project" %}:</dt>
        <dd>{{ content.project.name }}</dd>

        <dt>{% trans "Description" %}:</dt>
        <dd>{{ content.project.description|default:"<span class='muted'>---</span>" }}</dd>

        <dt>{% trans "Date of creating" %}:</dt>
        <dd>{{ content.project.date_creating }}</dd>

        <dt>{% trans "From" %}:</dt>
        <dd>{{ content.project.from_name }}
          &lt;<a target="_blank" href="mailto:{{ content.project.from_account.username }}">{{ content.project.from_account.username }}</a>&gt;
        </dd>
    </dl>
    <hr>
    <form action="{% url 'select_message' %}" method="get" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id-select_group">{% blocktrans %}Groups list{% endblocktrans %}</label>
            <div class="controls">
                <select name="group" id="id-select_group" class="input-xxlarge">
                    {% for item in content.groups reversed %}
                        <option value="{{ item.id }}">{{ item.name }} - {{ item.date_creating }}</option>
                    {% endfor %}
                </select>
                <a class="btn btn-info" target="_blank" href="{% url 'group_add' %}">{% blocktrans %}New group{% endblocktrans %}</a>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">{% blocktrans %}Next{% endblocktrans %}</button>
            </div>
        </div>
    </form>
{% endblock %}