{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="row-fluid">
        <div class="span9">
            <dl class="dl-horizontal">
              <dt>{% trans "From" %}:</dt>
              <dd>{{ content.project.from_name }}
                  &lt;<a target="_blank" href="mailto:{{ content.project.from_account.username }}">{{ content.project.from_account.username }}</a>&gt;
              </dd>
              <dt>{% trans "Subject" %}:</dt>
              <dd>{{ content.mail_message.subject }}</dd>
              <dt>{% trans "Text" %}:</dt>
              <dd>
                  {% ifequal content.mail_message.content_type "plain" %}<pre>{{ content.mail_message.text }}</pre>
                  {% else %}{% autoescape off %}{{ content.mail_message.text }}{% endautoescape %}{% endifequal %}
              </dd>
            </dl>
            <hr>
            <form action="{% url 'send' %}" method="post" class="form-horizontal">{% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-inverse">{% blocktrans %}Send{% endblocktrans %}</button>
                    </div>
                </div>

                <input type="hidden" name="message" value="{{ content.mail_message.id }}"/>
            </form>
        </div>
        <div class="span3 well well-small">
            <h5>{% blocktrans %}Mailing list{% endblocktrans %}:</h5>
            <ol>
                {% include 'includes/clients_list.html' %}
            </ol>
        </div>
    </div>
{% endblock %}