{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Project" %}</th>
                <th>{% trans "Count of clients" %}</th>
                <th>{% trans "Mailing type" %}</th>
                <th>{% trans "Date of creating" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in content.groups %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'group_view' group.id %}">{{ group.name }}</a></td>
                <td><a href="{% url 'project_view' group.project.id %}">{{ group.project.name }}</a></td>
                <td>{{ group.clients.count }}</td>
                <td>{{ group.get_mailing_type_display }}</td>
                <td>{{ group.date_creating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}