{% extends "base.html" %}
{% block content %}
    <form action="" method="POST" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id-mailing_list">Mailing List</label>
            <div class="controls">
                <select name="project" id="id-mailing_list">
                    {% for mailing_list in mailing_lists reversed %}
                        <option value="{{ mailing_list.id }}">{{ mailing_list.project.name }} - {{ mailing_list.subject }}</option>
                    {% endfor %}
                </select>
            </div>
            <a id="id-mailing_list_add" target="_blank" href="/admin/main/mailing/add/">Add new project</a>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Start mailing</button>
            </div>
        </div>
    </form>
{% endblock %}